.header{
    background-image: url(/src/images/about-us/background-about-us.png);
    background-position: right initial;
    background-repeat: no-repeat;
    margin-bottom: 120px;
}
.header__main{
    padding-bottom: 80px;
}
.header__content-heading{
    color: #1E212C;
    font-size: 72px;
    font-weight: 700;
    line-height: 130%; /* 93.6px */
    letter-spacing: 1px;
    margin-bottom: 24px;
}
.header__content-breadcrumb{
    color: #424551;
    margin-bottom: 40px;
    word-spacing: 8px;
}
.header__content-paragraph{
    text-align: left;
    max-width: 600px;
}
.header__content{
    padding-bottom: 150px;
}
.pointer{
    cursor: pointer;
}

.map-section{
    background-color: #F4F5F6;
}
.map-heading{
    padding: 80px 60px;
    text-align: center;
}
.map-image{
    width: 1230px;
    width: 100%;
    padding-bottom: 120px;
}
.statistics{}
.statistics__inner{
    display: flex;
    gap: 86px;
    justify-content: center;
    padding-bottom: 120px;
}
.statistics__item{
    text-align: center;
}
.statistics__item-icon{
    max-width: 48px;
    padding-bottom: 20px;
}
.statistics__item-heading{
    color: rgb(255, 90, 48);
    padding-bottom: 8px;
}
.statistics__item-text{
    max-width: 240px;
}
.values{
    background: rgb(244, 245, 247);
}
.values__inner{
    padding-top: 80px;
    padding-bottom: 180px;
}
.values__description{
    text-align: center;
    padding-bottom: 60px;
}
.values__description-heading{
    padding-bottom: 24px;
}
.values__items-box{
    text-align: center;
}
.values__items-icon{
    padding-bottom: 24px;
}
.values__items-heading{
    padding-bottom: 8px;
}
.values__items-text{
    max-width: 285px;

}
.values__items{
    display: flex;
    gap: 94px;
}
.partners{

}
.partners__inner{
    padding-top: 120px;
    padding-bottom: 156px
}
.partners__description{
    text-align: center;
    padding-bottom: 60px;
}
.partners__description-heading{
    padding-bottom: 24px;
}
.partners__description-text{

}
.partners__clients{
    display: flex;
    gap: 102px;
    flex-wrap: wrap;
    
}
.partners__clients-logo{
    max-width:120px;
}
