.header {
  background: url("../images/background/image2.png") right no-repeat;
  background-color: #f4f5f6;
  max-width: 1920px;
  margin: 0 auto;
}
.service_v2 {
}
.header__content {
}
.header__inner {
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 130px;
}
.header__mainblocks {
  display: flex;
  max-width: 900px;
  align-items: center;
  padding-top: 80px;
}
.mainblocks__space {
  padding: 0px 8px;
}
.header__title {
  max-width: 300px;
  padding: 40px 0px 24px 0px;
}
.header__undertitle {
  max-width: 600px;
  opacity: 0.4;
  padding-bottom: 50px;
}
.contactus {
  max-width: 1250px;
  min-height: 760px;
  margin: 0 auto;
  padding: 0px 10px;
}
.contactus__inner {
}
.contactus__header {
}
.contactus__title {
  padding-top: 120px;
  text-align: center;
}
.contactus__subtitle {
  padding-top: 25px;
  text-align: center;
  padding-bottom: 60px;
}
.contactus__content {
  display: flex;
  justify-content: center;
}
.contactus__img {
}
.contactus__img img {
  max-width: 100%;
}
.contactus__form {
  display: flex;
  padding-left: 135px;
  flex-wrap: wrap;
}
.contactus__info-to-type {
  max-width: 285px;
}
.contactus__info-to-choose {
  padding-left: 30px;
  max-width: 315px;
}
.input-box {
  background-color: #f4f5f6;
  width: 285px;

  height: 52px;
  border-radius: 4px;
}
.input-box__title {
  padding-left: 3px;
  padding-bottom: 15px;
  padding-top: 25px;
}
.input-box::placeholder {
  text-align: left; /* Вирівнювання тексту плейсхолдера зліва */
  padding-left: 15px;
}
.input-choose-box {
  background-color: #f4f5f6;
  width: 285px;

  height: 52px;
  border-radius: 4px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/icons/Down-chevron.svg") no-repeat;
  background-position: calc(100% - 15px) center;

  padding-left: 15px;
}

.inputs-radio {
  display: flex;
}
.input-radio {
  margin-left: 25px;
}
.radiobuttons {
  display: flex;
}
/* .radiobuttons__item {
  position: relative;

  font-size: 16px;
  color: #0b262b; /* Виправлення помилки: кольор повинен бути у форматі hex або rgb 
  margin-bottom: 10px; /* Приклад: зміна відступу 
  transition: all 0.3s ease 0s; /* Префікси для переходів 
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0.85s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.radiobuttons_item:before {
  content: ""; /* Вміст псевдоелемента 
  width: 30px;
  height: 30px;
  position: absolute;
  left: 8px; /* Позиціонування ліворуч 
  top: 0; /* Позиціонування зверху 
  background-color: #bfc0c3; /* Колір фону 
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); /* Тінь для WebKit 
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); /* Загальна тінь 
} */

.contactus__info-data {
  max-width: 630px;
  padding-top: 25px;
}
.contacts__form-text {
  padding-bottom: 10px;
}
.contact__form-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid#d7dadd;
  background: #f4f5f6;
  height: 41px;
  padding: 11px;
  margin-bottom: 16px;
}
.contactus__info-data {
}
.contactus__send-info {
  max-width: 600px;
  display: flex;
  padding-bottom: 120px;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}
.contactus__form-text {
  max-width: 290px;
}
.button-text {
  margin-left: 60px;
  width: 230px;
  height: 52px;
}
@media (max-width: 1050px) {
  .contactus__form {
    padding-left: 20px;
  }
}
@media (max-width: 950px) {
  .contact__form-input {
    width: 100%;
  }
  .input-box {
    width: 215px;
  }
  .input-choose-box {
    width: 230px;
  }
}
@media (max-width: 765px) {
  .contactus__content {
    flex-wrap: wrap;
  }
  .contactus__img img {
    max-width: 70%;
  }
  .contactus__form {
    justify-content: center;
  }
  .contactus__img {
    text-align: center;
  }
  .contactus__info-to-choose {
    padding-left: 65px;
  }
  .contactus__title {
    padding-top: 25px;
  }
  .contactus__subtitle {
    padding-bottom: 30px;
  }
  .contactus__send-info {
    flex-wrap: wrap;
  }
  .button-text {
    margin-left: 0px;
    margin: 0 auto;
  }
}
@media (max-width: 555px) {
  .contactus__info-to-choose {
    padding-left: 10px;
  }
  .contactus__info-to-type {
  }
}
@media (max-width: 555px) {
  .contactus__info-to-choose {
    padding-top: 15px;
  }
}
/*********************Our offices***************************/
.our-offices {
  max-width: 1920px;
  min-height: 565px;
  background-color: #f4f5f6;
  margin: 0 auto;
}
.our-offices__inner {
}
.title__our-offices {
  padding-top: 80px;
}
.header__our-offices {
  text-align: center;
}
.our-offices__contact-info {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  flex-wrap: wrap;
}
.contact-info__item1,
.contact-info__item2 {
  max-width: 260px;
}
.contact-info__item3 {
  max-width: 285px;
}
.stick {
  display: flex;
  width: 2px;
  height: 188px;
  background: linear-gradient(
    to left,
    #e0e0e0 30.52%,
    #fff 60.52%,
    #c4c4c4 30.52%
  );

  margin-left: 45px;
  margin-right: 45px;
  border-radius: 50%;
  opacity: 0.4;
  margin-top: 30px;
}
.contact-info__location {
  padding-top: 25px;
}
.contact-info__lighlited-text {
  padding-top: 10px;
  color: #ff4500;
  text-decoration: underline;
}
.contact-info__phone-num {
  display: flex;
  padding-top: 20px;
}
.contact-info__mail {
  display: flex;
  padding-top: 10px;
}
.contact-info__schedule {
  display: flex;
  padding-top: 10px;
}
.text_grey {
  color: #858585;
  padding-right: 5px;
}
@media (max-width: 1010px) {
  .stick {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 889px) {
  .stick {
    display: none;
  }
}
@media (max-width: 799px) {
  .contact-info__item3 {
    padding-top: 15px;
  }
}
@media (max-width: 540px) {
  .contact-info__item2 {
    padding-top: 15px;
  }
  .contact-info__item3 {
    margin-right: -25px;
  }
}
.find-us__inner {
  text-align: center;
}

.find-us__logo-icons {
  padding-top: 40px;
  padding-bottom: 120px;
  display: flex;
  max-width: 184px;
  gap: 16px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.find-us__title {
  padding-top: 120px;
}
