.header {
  background-image: url("../images/background/image2.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #e3e3e3;
  opacity: left 0;
}
.service_v2 {
}
.header__content {
}
.header__inner {
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 130px;
}
.header__mainblocks {
  display: flex;
  max-width: 900px;
  align-items: center;
  padding-top: 80px;
}
.mainblocks__space {
  padding: 0px 8px;
}
.header__title {
  max-width: 300px;
  padding: 40px 0px 24px 0px;
}
.header__undertitle {
  max-width: 600px;
  opacity: 0.4;
  padding-bottom: 50px;
}
