/************** Обнуление стилей  ************/
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/************** Общие стили  ************/
h1,h2,h3,h4,h5,h6{font-weight: 700;line-height: 150%;}
h1{
    font-size: 2.875rem;
    line-height: 130%;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header, footer, section{
    padding: 10px;
}

.container{
    max-width: 1230px;
    margin: 0 auto;
}

/************** Текст ***************/

/** Жирность **/
.regular{
    font-weight: 400;
}
.bold{
    font-weight: 700;
}


/** Размер **/

.text_extrasmall{
    font-size: 0.75rem;
    line-height: 150%;
}

.text_small{
    font-size: 0.875rem;
    line-height: 150%;
}

.text_base{
    font-size: 1rem;
    line-height: 160%;
}

.text_large{
    font-size: 1.125rem;
    line-height: 150%; /* 27px */
}

.text_lead{
    font-size: 1.25rem;
    line-height: 150%;
}



/************** Кнопки  ************/
.button{
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #FF5A30;
    cursor: pointer;
}
.button_primary{
    color: #ffffff;
    background: #FF5A30;
}
@media (min-width: 1200px){
    .button_primary:hover {
        background: #FC3300;
    }
}
.button_white{
    color: #FF5A30;
    background: white;
}
.button_large{
    font-size: 16px;
    line-height: 52px;
    padding: 0 40px;
}
.button_regular{
    font-size: 14px;
    line-height: 44px;
    padding: 0 40px;
}
.button_small{
    font-size: 12px;
    line-height: 36px;
    padding: 0 26px;
}
/******************HEADER*******************/
.logo{
    cursor: pointer;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__links {
    display: flex;
}

.active {
    color: #FF5A30;
}

.inactive {
    color: #424551;
}

.navbar__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-right: 40px;
    cursor: pointer;
}

.right__navbar {
    display: flex;
}

.right__navbar__phone {
    display: flex;
    margin-right: 36px;
    cursor: pointer;
}

.right__navbar__chat {
    display: flex;
    cursor: pointer;
}

.small__bold {
    margin-top: 20px;
    color: #424551;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.large__regular {
    width: 115px;
    color: #1E212C;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.navbar__svg {
    margin-right: 12px;
}

#burger__links {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 140px);
    flex-direction: column;
    background-color: #FF5A30;
}

#burger {
    visibility: hidden;
    position: absolute;
    right: 0;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

@media screen and (max-width: 1300px) {
    .navbar__right__text__hidden {
        display: none;
    }

    .right__navbar__bold {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}

@media screen and (max-width: 1150px) {
    .navbar__links {
        display: none;
    }

    #burger {
        visibility: visible;
    }

    #burger__links {
        display: flex;
    }
}
