.top-section{
    background-image: url('../images/homepage/photos/top-section-bg1.png');
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
}

.top-section-inner{
    padding-top: 245px;
    padding-bottom: 140px;
}

/*QUESTION FORM*/

.question{
    padding-bottom: 3rem;
    padding-top: 3.72rem;
    background: white;
    width: 80rem;
    margin: 0 auto;
    filter: drop-shadow(0px 4px 4px rgba(30, 33, 44, 0.03)) drop-shadow(0px 12px 10px rgba(154, 156, 165, 0.04)) drop-shadow(0px 30px 24px rgba(154, 156, 165, 0.05)) drop-shadow(0px 80px 80px rgba(154, 156, 165, 0.08));
}

.question__heading{
    padding-bottom: 0.5rem;
    text-align: center;
    margin-bottom: 2.69rem;
}

.question-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

.question-form__block{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 260px;
}

.question-form__block_last{
    flex-grow: 1;
}

.question-form__input{
    border-radius: 4px;
    border: 1px solid  #D7DADD;
    background:  #F4F5F6;
    padding: 12px 16px;
}

.question-form__button{
border-radius: 4px;
width: 105px;
height: 45px;

}

@media screen and () {
    
}