
}
.services-section__margin-left{
    margin-left: 80px;

}
.services-section__text-margin-bottom{
    margin-bottom: 46px;
}
.services-section__row-margin-bottom{
    margin-bottom: 24px;
}
.services-section__row{
    margin-top: 76px;
}
