.services-section{
    margin-bottom: 180px;
    background:
    url(/src/images/services/bg-image.png) right no-repeat,
    url(/src/images/services/bg-image2.png) bottom left no-repeat;
    background-position: fixed;
}
.services-section__inner{
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.services-section__content{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.services-section__info{
    padding-top: 76px;
}
.services-section__image{
    border-radius: 4px;
}
.services-section__text{
    padding-bottom: 46px;
}
.services-section__title{
    padding-bottom: 24px;
}
.header{
    background: var(--gray-200, #F4F5F6);
    background-image: url(/src/images/services/header-background.png);
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 120px;
}
.header__main{
    margin-bottom: 80px;
}
.header__content-heading{
    color: var(--gray-900, #1E212C);
    font-size: 72px;
    font-weight: 700;
    line-height: 130%; /* 93.6px */
    letter-spacing: 1px;
    margin-bottom: 24px;
}
.header__content-breadcrumb{
    color: var(--gray-800, #424551);
    margin-bottom: 40px;
    word-spacing: 8px;
}
.header__content-paragraph{
    text-align: left;
    width: 600px;
}
.header__content{
    padding-bottom: 150px;
}

