.thumbnail-splide .splide__slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4px;
}

.thumbnail-splide .splide__slide {
	opacity: 0.6;
}

.thumbnail-splide .splide__slide.is-active {
	opacity: 1;
}

.main-splide {
	margin-bottom: 20px;
}

.splide__track--nav > .splide__list > .splide__slide {
	border: none;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
	border: none;
}
.splide__slide {
	display: flex;
	justify-content: center;
	flex-shrink: 0;
}
.splide__arrow {
	height: 40px;
	width: 40px;
	margin: 0 0px;
}
.modern-cottage-text {
	color: var(--gray-800, #424551);
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 40px;
}
.active-page-style {
	color: var(--gray-600, #9a9ca5);
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
.gray-dash-style {
	color: var(--gray-600, #9a9ca5);
	font-family: Ubuntu;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
.main-modern-cottage-text {
	color: var(--gray-900, #1e212c);
	font-family: Ubuntu;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: 1px;
	margin-bottom: 60px;
}
.main-header-text{
	margin-top: 50px;
}



.head__project_v1{
	margin-top: 140px;
}
.discribe-project-goal{
	color: var(--gray-800, #424551);
	width: 600px;
	font-family: Ubuntu;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.card-project{
	display: flex;
	justify-content: space-between;
	text-align: center;
	
}

